Repository Scout-NU/thealleyway-site, pull requests merged in 2021-03, with the labels that each got.

#2 Creating the README
  README.md
Labels: set up

#1 Pulling initial prismic data
  components/slices/ImageGallery.js
  components/slices/SliceZone.js
  components/slices/TextSection.js
  env_example
  lib/api.js
  lib/link.js
  lib/richText.js
  package-lock.json
  package.json
  pages/api/hello.js
  pages/index.js
  pages/story/[uid].js
Labels: set up

#16 Api buildout for About Page
  lib/api.js
  pages/about.js
Labels: api-buildout

#14 Pulled prismic data for Contact Page
  lib/api.js
  package-lock.json
  pages/contact.js
Labels: api-buildout

#18 Pulled prismic data for author info
  components/AuthorInfo.js
  lib/api.js
  pages/story/[uid].js
Labels: api-buildout

#17 Pulled prismic data for footer
  components/Footer.js
  lib/api.js
  pages/index.js
Labels: api-buildout

#51 Added typefaces
  pages/_document.js
Labels: configuration

#58 Api-Buildout: Rendering the value title and description on the About Page
  components/Value.js
  lib/api.js
  pages/about.js
Labels: api-buildout

#61 Api-Buildout: Updating data pulled from Prismic for Story Inquiry
  components/StorySubmissionConfirmation.js
  pages/story-inquiry.js
Labels: api-buildout
